CONTENT/Adairs History of the American Indians.Adair, James, 1709 -1783.content.txt
CONTENT/Adairs History of the American Indians.Adair, James, 1709 -1783.images.txt
CONTENT/King Philip -- Makers of History.Abbott, John S. C. (John Stevens Cabot), 1805-1877.content.txt
CONTENT/King Philip -- Makers of History.Abbott, John S. C. (John Stevens Cabot), 1805-1877.images.txt
CONTENT/Picture-Writing of the American Indians -- Tenth Annual Report of the Bureau of Ethnology to the Secretary of the Smithsonian Institution, 1888-89, Government Printing Office, Washington, 1893, pages 3-822.Mallery, Garrick, 1831-1894.content.txt
CONTENT/Picture-Writing of the American Indians -- Tenth Annual Report of the Bureau of Ethnology to the Secretary of the Smithsonian Institution, 1888-89, Government Printing Office, Washington, 1893, pages 3-822.Mallery, Garrick, 1831-1894.images.txt
INCOMING/Adairs History of the American Indians.Adair, James, 1709 -1783.txt
INCOMING/King Philip -- Makers of History.Abbott, John S. C. (John Stevens Cabot), 1805-1877.txt
INCOMING/Picture-Writing of the American Indians -- Tenth Annual Report of the Bureau of Ethnology to the Secretary of the Smithsonian Institution, 1888-89, Government Printing Office, Washington, 1893, pages 3-822.Mallery, Garrick, 1831-1894.txt
__pycache__/openai.cpython-39.pyc
__pycache__/vbookDb.cpython-39.pyc
CONTENT/Adairs History of the American Indians.Adair, James, 1709 -1783.json.content.txt
CONTENT/Adairs History of the American Indians.Adair, James, 1709 -1783.json.images.txt
CONTENT/King Philip -- Makers of History.Abbott, John S. C. (John Stevens Cabot), 1805-1877.json.content.txt
CONTENT/King Philip -- Makers of History.Abbott, John S. C. (John Stevens Cabot), 1805-1877.json.images.txt
CONTENT/Picture-Writing of the American Indians -- Tenth Annual Report of the Bureau of Ethnology to the Secretary of the Smithsonian Institution, 1888-89, Government Printing Office, Washington, 1893, pages 3-822.Mallery, Garrick, 1831-1894.json.content.txt
CONTENT/Picture-Writing of the American Indians -- Tenth Annual Report of the Bureau of Ethnology to the Secretary of the Smithsonian Institution, 1888-89, Government Printing Office, Washington, 1893, pages 3-822.Mallery, Garrick, 1831-1894.json.images.txt
INCOMING/Adairs History of the American Indians.Adair, James, 1709 -1783.html
INCOMING/King Philip -- Makers of History.Abbott, John S. C. (John Stevens Cabot), 1805-1877.html
INCOMING/Picture-Writing of the American Indians -- Tenth Annual Report of the Bureau of Ethnology to the Secretary of the Smithsonian Institution, 1888-89, Government Printing Office, Washington, 1893, pages 3-822.Mallery, Garrick, 1831-1894.html
__pycache__/vbookDb.cpython-310.pyc
